*.swp
*.iml
*.ipr
*.iws
*.log
*.gz
*.com-8080
*.log.gz
.idea/
.gradle/
.tmp/
build/
target/
.DS_Store
classes/
.kitchen
out/
.gradletasknamecache
.java-version
tmp/
logs/


#Jmeter
*/App_Environment_Details.txt


#Eclipse ignores
.project
**/.classpath
**/.settings
**/bin
node_modules/
**/dist
coverage/
typings
*.map
.awcache

#Visual Studio Code
.vscode
